h1 {
    font-family: 'TTLakes-bold', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin-bottom: 24px;
}

h1::before {
    content: '';
    background-color: var(--lasurite);
    width: 4px;
    height: 40px;
    border-top-right-radius:50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    left: 0px;
}

@media (min-width:1440px) {
    /* h1 {
        font-size: 28px;
    } */
}