.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 18px;
    flex-shrink: 1;
    flex-grow: 0;
}

.header__left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.header__logo {
    position: relative;
}

.header__logo::after {
    content: '';
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    position: absolute;
    left: 113px;
    top: 13px;
}

.header__common-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.header__tablet-buttons {
    display: none;
}

.header__button-desc {
    display: none;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo::after {
        left: -21px;
        top: 13px;
    }

    .header__left-side {
        gap: 43px;
    }

    .header__right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 42px;
        height: 40px;
    }

    .header__tablet-buttons {
        display: flex;
        align-items: center;
        gap: 17px;
        position: relative;
    }

    .header__tablet-buttons::after {
        content: '';
        background-color: #EAEAEA;
        width: 2px;
        height: 32px;
        position: absolute;
        left: 173px;
        top: 4px;
    }

    .header__common-buttons {
        align-items: center;
        height: 40px;
    }

    .header__devider {
        content: '';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
    }

    .header__button-wrapper {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1440px) {

    .header__left-side,
    .header__tablet-buttons {
        display: none;
    }

    .header {
        position: absolute;
        right: 5%;
        background-color: #f8f8f8;
        padding: 0;
        justify-content: flex-end;
    }

    .header__common-buttons {
       gap: 32px; 
    }

    .header__button-desc {
        display: inline;
        margin-right: 8px;
        font-weight: 500;
        line-height: 24px;
    }
}