:root{
    --text-font-color: #1B1C21;
    --nav-menu-text-color: #7E7E82;
    --main-background-color: #F8F8F8;
    /* --pink:#FF3E79; */
    --lasurite: #41F6D7;
}
html{
    box-sizing: border-box;
    min-width: 320px;
}
  
*, *::after, *::before{
    box-sizing: inherit;
}
  
body{
    overflow: hidden;
    font-family: 'TTLakes-regular',  sans-serif;
}

.burger-menu {
    overflow: hidden;
    font-family: 'TTLakes-regular',  sans-serif;
}

  
